@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

.img-container {
  width: 250px;
  height: 125px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.car-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.racing-car-list {
  text-align: center;
  margin: 20px;
}

.car-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
}

.car-item {
  max-width: 250px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.car-image-container {
  margin-bottom: 10px;
}

.car-image {
  max-width: 100%;
  height: auto;
}

.car-name {
  font-size: 20px;
  color: #333;
  margin: 10px 0;
}

.car-info {
  font-size: 16px;
  color: #666;
  margin: 5px 0;
}

.add-to-cart-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 15px;

  &:hover {
    background-color: #0056b3;
    transform: scale(1);
  }
}

.car-item-icon{
  width: 40px;
  height: 40px;
  transition: all 0.5s ease;
  cursor: pointer;
  position: absolute;
  fill: transparent;
  bottom: 10px;
  right: 10px;

  &:hover{
    fill: #ffee00;
  }
}

.completed{
  fill: #ffee00;
}